[submodule "CSIE-Project-FireDT"]
	path = CSIE-Project-FireDT
	url = https://github.com/LinMarc1210/CSIE-Project-FireDT.git
[submodule "Battle_City"]
	path = Battle_City
	url = https://github.com/ShunyaKozuma/Battle_City.git
